# Archivos ignorados por defecto
/shelf/
/workspace.xml
# Peticiones del cliente HTTP basadas en el editor
/httpRequests/
# Carpeta predeterminada ignorada con archivos de consulta
/queries/
# Datasource local storage ignored files
/dataSources/
/.git/
/.idea/
/.venv/
/dataSources.local.xml
